<section id="home-about">

    <div class="scroll-1">
      <%# <h1 class="home other">Home <span class="small">01</span></h1> %>
      <h1 class="projects other">Projects <span class="small">02</span></h1>
      <h1 class="big abouts">About <span class="small">03</span></h1> 
      <h1 class="contact other">Contact <span class="small">03</span></h1>
      <%# <hr> %>
    </div>

    <div class="container">
        <div class="dev-tools">             
            <div class="html">
                <i class="fab fa-html5 fa-3x"></i>
                <h5>HTML</h5>
                <p></p>
            </div>
            <div class="css">
                <i class="fab fa-css3 fa-3x"></i>
                <h5>CSS</h5>
                <p></p>
            </div>
            <div class="Sass">
                <i class="fab fa-css3 fa-3x"></i>
                <h5>SASS</h5>
                <p></p>
            </div>
            <div class="javascript">
                <i class="fab fa-js fa-3x"></i>
                <h5>Javascript</h5>
                <p></p>
            </div>
            <div class="ruby">
                <i class="fas fa-gem fa-3x"></i>
                <h5>Ruby on rails</h5>
                <p></p>
            </div>       
        </div>


        <div class="about-me">
            <div class="greeting-img-wrapper">
                <h2 class="say-hi">Say hi.</h2>

                <div clas="left-img">
                    <div class="object"></div>
                    <div class="img"></div>
                </div>
            </div>

            <div class="text">
                <h3>Chinonso John Nkpolukwu</h3>
                <!-- <hr> -->
                <br>
                <p>I’m a Melbourne based software developer student and professional, with a passion and love for code and everything technology. I love creating things and share an equal passion for playing sports and keeping fit.</p>
                <br>
                <button><a href="./pages/about-more.html">Read more</a></button>
            </div>
        </div>






    </div>
    

</section>