<section id="home-projects">

    <div class="container">
        <div class="main">

            <div class="project">
                <div class="img img-one">
                    <div class="project-info">
                        <%# <h4>Items V3</h4> %>
                        <span>
                        <h4>ITEMS v3</h4>
                        <br>
                        <strong>TECH STACK:</strong> HTML, CSS, SCSS, Javascript, Ruby on Rails</span>
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            
            </div>
            

        <div class="project">
            <div class="img img-two">
                <div class="project-info">
                    <%# <h3>Project Two</h3> %>
                    <span>
                        <h4>MOVIE DB</h4>
                        <br>
                        <strong>TECH STACK:</strong> HTML, CSS, SCSS, Javascript, Ruby on Rails</span>
                </div>
                <div class="overview">
                    <h3>Overview</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>
        </div>

            <div class="project">
                <div class="img img-three">
                    <div class="project-info">
                        <%# <h3>Porfolio V1</h3> %>
                        <span>
                        <h4>PORTFOLIO v1</h4>
                        <br>
                        <strong>TECH STACK:</strong> HTML, CSS, SCSS, Javascript, Ruby on Rails</span>
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
           </div> 

           <div class="project">
                <div class="img img-four">
                    <div class="project-info">
                        <%# <h3>Porfolio V1</h3> %>
                        <span>
                        <h4>PORTFOLIO v1</h4>
                        <br>
                        <strong>TECH STACK:</strong> HTML, CSS, SCSS, Javascript, Ruby on Rails</span>
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
           </div> 

           <div class="project">
                <div class="img img-five">
                    <div class="project-info">
                        <%# <h3>Porfolio V1</h3> %>
                        <span>
                        <h4>PORTFOLIO v1</h4>
                        <br>
                        <strong>TECH STACK:</strong> HTML, CSS, SCSS, Javascript, Ruby on Rails</span>
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
           </div>

           <div class="project">
                <div class="img img-six">
                    <div class="project-info">
                        <%# <h3>Porfolio V1</h3> %>
                        <span>
                        <h4>PORTFOLIO v1</h4>
                        <br>
                        <strong>TECH STACK:</strong> HTML, CSS, SCSS, Javascript, Ruby on Rails</span>
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
           </div>


        </div>
    
    </div>


</section>