<section id="home-index">

    <div class="video-container">
        <video src="assets/tech.mp4" type="video/mp4" autoplay muted  loop playsinline>
        </video>
    </div>

    <!-- View my work button -->
    
    <div class="middle-text">
        <div class="img"></div>
        <%# <img src="assets/pic2.png"> %>
        <div class="inner-text">
            <h1>Hello, I’m <span class="primary-color">Chinonso John Nkpolukwu</span>.<br> I’m a full-stack web developer.</h1>
            <br>
            <br>
            <span class="btn">
                <%= link_to "View my work", root_path %>
                <span class="fas fa-arrow-right"></span>
            </span>
        </div>
        
        
    </div>

    <%# <a href="./pages/all-projects.html" class="header-content">
        <h1>Hello, I’m <span class="red-highlight">Chinonso John Nkpolukwu</span>.<br> I’m a full-stack web developer.</h1>
        <button class="showcase-button">View my work <i class="fas fa-arrow-right"></i></button>
    </a> %>

</section>
