<section id="home-index">

    <%# <div class="scroll-1">
      <h1 class="big home">Home <span class="small">01</span></h1>
      <h1 class="projects">Projects <span class="small">02</span></h1>
      <h1 class="abouts">About <span class="small">03</span></h1> 
    </div> %>

    <div class="video-container">
        <video src="assets/tech.mp4" type="video/mp4" autoplay muted  loop playsinline>
        </video>
    </div>

    <!-- View my work button -->
    
    <div class="middle-text">
        <div class="img"></div>
        <%# <img src="assets/pic2.png"> %>
        <div class="inner-text">
            <h1>Hello, I’m <span class="primary-color">Chinonso John Nkpolukwu</span>.<br> I’m a full-stack web developer.</h1>
            <br>
            <br>
            <span class="btn">
                <%= link_to "View my work", root_path %>
                <span class="fas fa-arrow-right"></span>
            </span>
        </div>
    </div>

    

    <%# <div class="scroll-1">
        <h1>HOME <span class="small">01</span></h1>
    </div> %>

</section>
