// Hamburger menu nav
@media screen and (max-width: 375px) {
    
    #mainMenu, .right input {
        // for the checkbox
        display:none;
        
    }
    #menuShowHide{
        display: none;
    }
    #menuShowHide+label:before {
        content:"Show menu";
        cursor: pointer;
        text-decoration: none;
    }
    #menuShowHide:checked ~ #mainMenu {
        display:block;
        position: relative;
        bottom: 5px;
        float: right;
        list-style: none;
        color: #fff; 
        cursor: pointer;
        text-decoration: none;
    }  
    #menuShowHide+label {
        // position: relative;
        position: absolute;
        top: 30px;
        left: 300px;
        // float: right;
        padding: 0.5em;
        margin: -4.75em 0.5em 0;
        border: transparent;
        background: transparent;
        color: #FFF;
        border-radius: 0.5em;
        margin-top: -25px;
        cursor: pointer;
    }
    #menuShowHide+label:active,
    #menuShowHide+label:focus,
    #menuShowHide+label:hover {
        background: black;
    }
    #menuShowHide+label:after, #menuShowHide+label:before {
        content: "";
        display: block;
        width: 2em;
        height: 0.5em;
        border: solid #FFF;
        border-width: 0.25em 0;
    }
    #menuShowHide+label:after {
        border-top: 0;
    }
}

@media screen and (min-width: 375px){
    #mainMenu, .right input {
        // for the checkbox
        display:none;
    }
}